/* Group 9 */

width: 318px;
height: 206px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Rectangle 3 */

position: absolute;
width: 198px;
height: 206px;
left: 120px;
top: 0px;

background: url(bcee2441fdf73caedae76a3443073bde.jpg);
filter: drop-shadow(0px 4px 20px rgba(112, 110, 110, 0.25));
border-radius: 10px;


/* Rectangle 4 */

position: absolute;
width: 154px;
height: 164px;
left: 0px;
top: 19px;

background: #FFFFFF;
box-shadow: 0px 4px 20px rgba(164, 161, 161, 0.25);
border-radius: 10px;


/* Boys & Toys */

position: absolute;
width: 59px;
height: 38px;
left: 16px;
top: 36px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;

color: #000000;



/* Is he a car lover ? owns a car? this is a gift for him */

position: absolute;
width: 125px;
height: 20px;
left: 16px;
top: 82px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: 10px;

color: #616161;



/* 25 Gifts Available */

position: absolute;
width: 68px;
height: 10px;
left: 16px;
top: 153px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 8px;
line-height: 10px;
/* identical to box height */

color: #882781;



/* Arrow / Arrow_Left_LG */

position: absolute;
width: 13px;
height: 13px;
left: 120px;
top: 152px;



/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 29.17%;
bottom: 29.17%;

border: 1.08333px solid #882781;


/* Ellipse 2 */

position: absolute;
width: 17px;
height: 17px;
left: 16px;
top: 118px;

background: url(STW5D7DCSZLO3IQCG7WTGK3VJE);


/* Ellipse 3 */

box-sizing: border-box;

position: absolute;
width: 17px;
height: 17px;
left: 25px;
top: 118px;

background: url(Land_Rover_-_RANGER_ROVER-logo-3EA5923541-seeklogo.com.png);
border: 1px solid #FFFFFF;


/* Ellipse 4 */

box-sizing: border-box;

position: absolute;
width: 17px;
height: 17px;
left: 34px;
top: 118px;

background: url(b92bf19612e524ac1f9d5e998770eba7);


/* 23+ Brands */

position: absolute;
width: 44px;
height: 10px;
left: 55px;
top: 121px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: 10px;
/* identical to box height */

color: #000000;

